services:
  backend:
    build: .   
    container_name: online-course-backend
    ports:
      - "8080:3000"
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: redis:7
    container_name: online-course-redis
    ports:
      - "6379:6379"
    restart: always
